layout {
    @uiTemplate@
    tab name="bereit" focus=true {
        pane split_direction="vertical" {
            pane size="50%" name="btop" command="ssh" {
                args "-t" "Bereitserver" "btop; exec $SHELL -l"
            }
            pane size="50%" split_direction="horizontal" {
                pane name="yazi (downloads)" command="ssh" {
                    args "-t" "Bereitserver" "cd /media/hetzner/downloads 2>/dev/null; yazi; exec $SHELL -l"
                }
                pane name="lazydocker (arr tunnels)" command="ssh" {
                    args "-t" "media-admin" "env TERM=xterm-256color lazydocker; exec $SHELL -l"
                }
            }
        }
    }
}
